<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" href="favicon.png">
        <link rel="stylesheet" href="bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="jquery-3.4.1.min.js"></script>
        <script src="script.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-dark">
            <a class="navbar-brand" href="#">
                <img src="clock.png" class="d-inline-block align-top nav-image" alt="">
                Hass Galaxy
            </a>
        </nav>
        <div id="alert">
        </div>
        {{{ body }}}
        <footer class="info-footer">
            <small>
                <div>Author: Jerrod Lankford (jllankfo AT ncsu DOT edu)</div>
                <div><a href="https://github.com/Jerrkawz/hassgalaxy">https://github.com/Jerrkawz/hassgalaxy</a></div>
                <div>Icons made by <a href="https://www.flaticon.com/authors/srip" title="srip">srip</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            </small>
        </footer>
    </body>
</html>