<div class="main-container form-group">
    <label for="server">Server (optional)</label>
    <input class="form-control server-name" id="server" type="url" aria-describedby="clipName" maxlength="255" placeholder="https://myhassurl.duckdns.org:8123">
    
    <label class="token-label" for="token">Token</label>
    <textarea class="form-control" id="token" rows="3"></textarea>
    <button type="button" class="send-button btn btn-primary" onclick="submit('{{{name}}}');">Send</button>
</div>