<div class="index-content">
    <h4>What is this?</h4>
    <p>This is a companion app for the 'UI for HomeAssistant' Samsung Galaxy watch app. 
        It's so you don't have to painfully type in a url and a ~190 character token with the watch keyboard.</p>
    <h4>How does it work?</h4>
    <p>You start the Home Assistant application on your Galaxy watch and it will generate a unique url.
        Go to that url to type in your credentials and hit send. Your credentials are not saved and are sent directly to the watch via
        web sockets.
    </p>
    <h4>Is it secure?</h4>
    <p>Yes. Credentials are sent over https to the server which are then sent directly to the watch via web sockets.
        No database or credential saving is involved. If you don't trust it you can send just the token and the watch will redirect you
        to the setup page where you can manually enter your URL. This application is also open source so you can see for yourself.
    </p>
    <h4>Who writes and maintains this?</h4>
    <p>Both the galaxy watch application and this website are written and maintained by me Jerrod (Jerrkawz). You can contact me via the details in the footer.
        The community has also been a big help in testing this, providing feedback and issuing pull requests. If you want to contribute or have issues you can do so at the
        following github repositories: <a href="https://github.com/jerrkawz/HAGearS3">Galaxy Watch App</a> - <a href="https://github.com/jerrkawz/hassgalaxy">Hass Galaxy App</a>.
    </p>
</div>